<?php 

define('ENV_APP_NAME','DewTouch');
define('ENV_SITETITLE','DewTouch');

define('ENV_DEBUG_LEVEL',2);

define('ENV_DB_HOST','<<db-host>>');
define('ENV_DB_USERNAME','<<username>>');
define('ENV_DB_PASSWORD','<<password>>');
define('ENV_DB_NAME','<<db-name>>');